<div class="col-12">
<h1>Events</h1>
<hr>

<h2>Created Events</h2>

<%= render @user.created_events %>

<hr>

<h2>Upcomming Events</h2>

<%= render @user.attended_events.upcoming_events %>

<hr>

<h2>Attended Events</h2>

<%= render @user.attended_events.past_events %>